@charset "ISO-8859-1";
table,  td {
  border: 10px solid #EBEFE9 ;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: fantasy;
  font-size: 40px;
  color: #EDF3F4;
  
}

th
{margin-left: 700px;
	background-color: #EBEFE9;
	color:#40C3D8;
	padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30%
	
}
body
{
	background-color: #02E7D9
}

