@charset "ISO-8859-1";
body
{
	background-color: #02E7D9
}

img
{
	margin-top: 100px;
	margin-left: 700px;
	border-radius: 50%;
	border: 10px solid #EBEFE9;
    
	
}

a
{
	margin-left: 700px;
	font-family: fantasy;
	font-size: 50px;
	color: #EBEFE9;
}

h1
{
	font-size: 50px;
	margin-left: 700px;
	color:#40C3D8;
	font-family: fantasy;
	background-color: #EBEFE9;
	margin-right: 40%;
}

